@{
    Layout = "~/Views/Shared/_Itmeshop.cshtml";
}
<style>
    .thumbnail p
    {
        color: #fff;
        font-size: 18px;
    }
    .thumbnail.tile
    {
        opacity:1;
        margin-bottom:0;
        height:88px; 
    }
     .thumbnail.tile:hover
    {
        opacity:0.75;
      
    }
    .thumbnail.tile.tile-double
    {
        width:100%;
    }
</style>
<div class="page home-page">
    <div class="page-body">
        <div class="row">
        
            <div class="col-md-8">
            
                @Html.Widget("home_page_top")
            </div>
            <div class="col-md-4">
                @*@Html.Action("HomePageNews", "News")*@
                @* @Html.Action("NewsletterBox", "Newsletter")*@
                @*@Html.Action("RecentlyViewedProductsBlock", "Catalog", new { productThumbPictureSize = 32 })*@

                <div class="thumbnail tile tile-double tile-teal" style="background-color:#E51400;">
                    <a style="display:block;" href="@Url.RouteUrl("Topic", new { SystemName = "paymentinfo" })">
                        <img src="/content/images/pay.png" />
                        <p>Thanh toán khi nhận hàng</p>
                    </a>
                </div>
               
                <div class="thumbnail tile tile-double" style="background-color:#7cbb00;">
                    <a style="display:block;" href="@Url.RouteUrl("Topic", new { SystemName = "shippinginfo" })">
                        <img src="/content/images/turn.png" />
                        <p>Nhận hàng trong vòng 3 ngày</p>
                    </a>
                </div>


                <div class="thumbnail tile tile-double tile-orange" style="background-color:#FFA500;">
                    <a style="display:block;" href="@Url.RouteUrl("Topic", new { SystemName = "shippinginfo" })">
                        <img src="/content/images/delivery.png" />
                        <p>Giao hàng miển phí với đơn hàng >500k</p>
                    </a>
                </div>

                 <div class="thumbnail tile tile-double tile-orange" style="background-color:#2CA3DC">
                    <a style="display:block;" href="http://facebook.com/itmeshop">
                        <img src="/content/images/fb.png" />
                        <p>ITME Shop trên Facebook</p>
                    </a>
                </div>


            </div>
           
        </div>
        @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })

        @Html.Action("HomepageProducts", "Catalog")
        @Html.Action("HomepageBestSellers", "Catalog")
        @Html.Action("HomepageCategories", "Catalog")
        @Html.Action("HomePagePolls", "Poll")
        @Html.Widget("home_page_bottom")
    </div>
</div>
